@media (max-width: 1030px) {
  #features .margin_top_up {
    margin-top: -25rem;
  }
}

@media (max-width: 991px) {
  /* ====== common css====== */
  h1,
  h2 {
    font-size: 2.5rem;
  }
  .ipad_px_30 {
    padding: 0 1.875rem;
  }

  /* ==== HEADER CSS ==== */
  .navbar {
    padding-top: 0.625rem;
    padding-bottom: 0.75rem;
  }
  .navbar-brand {
    width: 50%;
  }

  .navbar-brand .name {
    font-size: 1rem;
    color: #814096;
  }
  .name span {
    color: var(--text-light-pink);
  }
  .navbar-toggler {
    padding-right: 0;
  }
  .navbar-toggler:focus {
    box-shadow: none;
  }
  .navbar-toggler-icon {
    color: var(--text-white);
    width: 1em;
    height: 1em;
  }
  .navbar-sticky-on .navbar-toggler-icon {
    color: var(--text-black);
  }
  .navbar .navbar-nav {
    background: var(--bg-white);
    border-radius: 0.188rem;
    text-align: center;
  }
  .navbar .navbar-nav .nav-link {
    padding: 0.625rem 1.5rem;
    color: var(--text-light-gray);
  }

  /* ===== HOME =========== */
  #home {
    padding-top: 7rem;
    background-position: top right;
    background-size: inherit;
  }
  #home .row {
    flex-direction: column-reverse;
  }
  #home .home_text {
    text-align: center;
    margin-bottom: 1.5rem;
  }
  #home .home-download-btn {
    justify-content: center;
  }
  .home-image {
    text-align: center;
  }
  .home-image img {
    max-width: 70%;
    height: 100%;
  }

  /*  pricing css */
  .single_price {
    margin-bottom: 2.5rem;
  }

  /* testimonial css */
  .testimonial .carousel-control-prev {
    left: -1.75rem;
  }
  .testimonial .carousel-control-next {
    right: -1.75rem;
  }
}

@media (max-width: 767px) {
  /* ====common css == */
  .mobile_px_20 {
    padding: 0 1.25rem;
  }

  /* ==== HOME CSS========  */
  #home {
    padding-top: 5rem;
    background-position: top;
    background-position: contain;
  }
  #home .home_text {
    text-align: center;
  }
  #home .home_text h2 {
    font-size: 1.8rem;
    line-height: 2.5rem;
  }
  #home .home-download-btn .btn {
    margin: 0;
  }
  .home-image {
    text-align: center;
    /* height: 350px; */
  }

  /* ==== counter css ==== */
  .single_counter:nth-child(2)::after {
    display: none;
  }

  /* ==== Features CSS ==== */
  .mobile_px_20 {
    padding-top: 0 1.25rem;
  }
  #features .margin_top_up {
    margin-top: 0rem;
  }
  .features_middle {
    text-align: center;
  }
  .feature_img {
    text-align: center;
    padding-top: 1.5rem;
  }
  .feature_img img {
    max-width: 95%;
  }
  .testimonial .testimonial-wrapper{
    padding: 1rem;
  }
  .testimonial .carousel-control-prev,
  .testimonial .carousel-control-next {
    display: none;
  }
}
